.right {
  display: flex;
  flex-direction: column;
}

.img_wrapper {
  height: 710px;
  width: 710px;


  box-shadow: 0 0 10px 1px  #ffecfe;
}
.product_img{
  object-fit: contain;
 height: 100%;
  width: 100%;
  background-color: white;
}

.product_btn {
  width: 340px;
 
  box-shadow: 0 0 10px 3px #604274;
  background-color: white;
  color: #604274;
  font-size: 32px;
  font-weight: bold;
  border-radius: 15px;
  height: 86px;
  align-items: center;
  display: flex;
  justify-content: center;

}
.clicked {
  background-color:#604274; 
  color: white;
  /* Цвет фона при клике */
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 600px;
  padding: 20px;
}

.priceWithDisc {

  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between
  
}

.discount_price {
  font-size: 20px;
  font-weight: 600;
}

.price {
  font-size: 20px;
  font-weight: 500;
  color: #8b8b8b;
  text-decoration: line-through;
}

.discount {
  color: #ff32a1;
  font-size: 20px;
  font-weight: 600;
}

.price_without{
  font-size: 20px;
  font-weight: 600;
  display: flex;
  padding-left: 30px;
  width: 100%;
}


.product_info {
  margin: 30px 60px;
}

.product_title {
  color:grey;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.product_details {
  display: flex;
  gap: 120px;
  align-items: center;
  align-items: flex-start
}



.price_main {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product_description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 412px;
  align-items: flex-start;


}

.price_main{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


.product_subtitle{
  font-size: 20px;
  font-weight: 600;
}

.product_text{
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}