.order {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px;
    max-width: 500px;
    box-shadow: 0 0 10px 1px  #ffecfe;
    border-radius: 21px;
    align-self: center;
   
  }
  
  .order_title {
    font-size: 28px;
    font-weight: 600;
  }
  
  .order_sum {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .order_text {
    font-weight: 600;
    font-size: 18px;
  }
  
  .order_amount {
    font-weight:600;
    font-size: 32px;
  }
  
  form {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap:30px;
  }

  .input{
    height: 70px;
    border: 1px solid black;
    padding-left: 25px;
    border-radius: 20px;
    outline: none;
    font-size: 18px;
    width: 100%;
    background-color: white;
  }

  .btn{
    height: 70px;
    box-shadow: 0 0 10px 3px #4ba983;
    padding-left: 25px;
    border-radius: 20px;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    color: white;
    background-image: var(--background-image);
    border: none;
    cursor: pointer;
  
  }

  