.button_elem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    border-radius: 50px;

    width: 350px;
    margin: 8px 0px;

    color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    cursor: pointer;
}

.yellow {
    background-color: #f259f4c3;
    border: none;
}


.white {
    background-color: white;
    border: 0.5px solid #CFD8DC;
}