/* .modal {
    width: 100%;
    height: 100%;
    background-color: rgba(3, 28, 21, 0.831);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
  }

.modal_content {
  padding: 30px 32px;
  border-radius: 20px;
  background-color: rgb(75, 130, 98);
font-weight: 600;
color: white;
  transform: scale(0.5);
  transition: 0.6s all;

}

.modal_content.active {
  transform: scale(1);
} */