.catalog {
 padding-left: 40px;
 padding-right: 40px;
 padding-top: 20px;
 padding-bottom: 20px;
  background-image: var(--background-image);
  border-radius: 5px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  display: flex;
  font-weight: 700;
  box-shadow: 0 0 10px 3px #4ba983;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 20px;
}
.img {
  border-radius: 50%;
  box-shadow: 0 0 10px 3px #4ba983;
  height: 100px;
  width: 100px;
}

.user {
  box-shadow: 0 0 10px 3px #4ba983;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.accaunt:hover {
  scale: 1.3;
}
.header {
  display: flex;
  flex-direction: row;
  margin: 50px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.img_div {
  display: flex;
  gap: 60px;
  align-items: center;
}

.cart:hover {
  scale: 1.3;
}
.catalog:hover {
  scale: 1.3;
}
.cartIcon {
  width: 25px;
  height: 25px;
  padding: 10px;
  box-shadow: 0 0 10px 3px #4ba983;
  border-radius: 50%;
  color: white;
}
.heart_icon {
  width: 15px;
  height: 15px;
  padding: 10px;
  box-shadow: 0 0 10px 3px #4ba983;
  border-radius: 50%;
  color: white;
}

.accaunt h4 {
  margin-top: 10px;
}
.hard:hover,
.cartIcon:hover {
  scale: 1.3;
}

h4 {
  color: white;
  text-align: center;
  margin-top: 15px;
}
.hard h4 {
  margin-top: 15px;
}
.hard,
.accaunt,
.cart {
  flex-direction: column;
  font-size: 10px;
  display: flex;
  gap: 4px;
  height: 55px;
  align-items: center;
  justify-content: center;
  color: white;
}
.links {
  display: flex;
  gap: 60px;
  font-size: 20px;
  padding: 20px;
}
.burger {
  display: none;
}
.links a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.links a:hover {
  scale: 1.5;
  color: #4ba983;
}

 .mobile_menu {
  display: none;
} 
 .mobile_menu_active{
    display: none;
} 


.mobile_menu_list {
    display: flex;
    margin: 0 auto;
   gap: 30px;
    flex-direction: column;
    padding: 10px;
    list-style: none;
}

.mobile_menu_list li {
  
   font-weight: 700;
  }
  

.mobile_menu_list li:hover {
  scale: 1.2;
  color: #9ebe00;
 

}

@media (max-width: 1080px) {

    .mobile_menu_active {
        position: absolute;
        
        width:50%;
        top: 0;
        right: 100px;
        z-index: 1;
        border-radius: 15px;
        box-shadow: 0 0 10px 3px #9ebe00;
        background-image: var(--background-image);
        opacity: 0.7;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
  .heart_icon,
  .user,
  .cartIcon,
  .links,
  .icons,
  .catalog {
    display: none;
  }

  .hard,
  .accaunt,
  .cart {
    height: 20px;
    margin: 0;
  }
  .burger {
    display: flex;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 20px;
    right: 30px;
  }

}
