.cart_single{
    display: flex;
gap:30px;
padding: 10px 0;
border-bottom: 1px solid #a7a7a7;
position: relative;
}

.cart_img{
    width: 192px;
    border-radius: 10px;
    height: 166px;
    object-fit: cover;

}
.count button{
  color: white;
 font-size: 20px;
}

.info{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

.count{
    display: flex;
    gap:30px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 15px;
    align-items: center;
}


    .discount_price,
    .price {
      align-self: center;
      font-size: 18px;
    }



    .discount_price {
      font-weight:600;
      width: 90px;
    }
    
    .price {
      font-weight:400;
      color: gray;
      text-decoration: line-through;
      padding-right: 70px;
    }

.count button{
    background-color: transparent;
    border: none;
    font-size: 36px;
    line-height: 20px;
    cursor: pointer;
  }

  .cart_item_counter {
    font-size: 18px;
    font-weight: 600;
    width: 30px;
    text-align: center;
  }

  .close_btn {
    font-size:18px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
  }