.form{
    display: flex;
    flex-direction: row;
   gap :30px;
   padding: 30px;
   
}
@media (max-width:1352px) {
    .form {
        display: flex;
        flex-direction: column;
        gap :5px;
    }
  }
