.links {
  display: flex;

  gap: 40px;
  font-size: 20px;
  padding: 20px;
  margin-left:300px;
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.links a:hover{
scale: 1.3;
color: #4ba983 ;


}