.links {
  display: flex;

  gap: 60px;
  font-size: 20px;
  padding: 20px;
 
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.links a:hover{
scale: 1.5;
color: #4ba983 ;


}

@media (max-width: 1360px) {
  
  .links {
   
    display: flex;
    font-size: 10px;
    gap: 20px;
   flex-direction: column;
   width: 300px;
   margin: 20px;
  }
  .links a{
    box-shadow: 0 0 10px 3px #4ba983;
    padding: 5px;
  }
}

