.warning_text{
    text-align: end;
    color: rgb(132, 0, 127);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
}

.info_text{
    width: 350px;
    color: rgb(214, 242, 31);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

.form{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 0 auto;
    border: 3px solid white;
    padding: 10px;
    border-radius: 15px;
    background-image: linear-gradient(to right, #003b54, #00727a, #4ba983);
    box-shadow: 0 0 10px 1px white;
}